#card-cor {
    background: #076839;
}

.button-test {
    background: #30B0C7;
    padding: 5px;
    border-radius: 10px;

}

ion-card-title {
    font-size: 28px;
    color: white;
}

ion-card-subtitle {
    color: #BACEAA;
}