/*ion-content{
    --background: none;
    background-image: url(../../assets/plano-fundo.jpg);
}*/

.map{
    width: 100%; 
    height: 50%;
}

// .searchbar-input-container.sc-ion-searchbar-ios{
//     color: red;
// }