<ion-header class="organizar">
  <ion-toolbar class="barra-nav">

    <ion-item class="logo-rodape">
      <ion-thumbnail>
        <img class="teste" src="../../assets/logo-tourio.jpeg" /></ion-thumbnail>
        <ion-title>Mapa</ion-title>
    </ion-item>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <!-- Barra de busca -->
    <ion-searchbar placeholder="Custom Placeholder" id="search-input"
      placeholder="Digite um local"
      [(ngModel)]="searchQuery"
      (ionInput)="fetchSuggestions(searchQuery)">
    </ion-searchbar>
  
    <!-- Lista de sugestões -->
    <ul *ngIf="suggestions.length > 0">
      <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)"> {{ suggestion.place_name }}</li>
    </ul>

  </div>


  <div class="map" id="map"></div>
  
  <div>
    <p>Video de ajuda <a href="https://www.youtube.com/watch?v=XZHG1e_prmQ" target="_blank">aqui!!!</a> </p>
  </div>



  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
