<ion-header>
  <ion-toolbar>
    <ion-button fill="default" color="#30B0C7" slot="start">
      <ion-back-button text="Voltar" fill="default" color="#30B0C7" class="buttom-voltar">Voltar</ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center" id="teste1">
    <h1 class="text-principal">Crie sua conta</h1>
  </div>
 

    <ion-card class="card-cadastro">

      <ion-card-content>

        <ion-item class="caixinha1" lines="none">
          <h2>Nome Completo:</h2>
        </ion-item>

        <ion-item class="caixinha2" lines="none">
          <ion-input type="text" labelPlacement="floating" [(ngModel)]="fullName" class="retangulo2"></ion-input>
        </ion-item>

        <ion-item class="caixinha1" lines="none">
          <h2>E-mail:</h2>
        </ion-item>

        <ion-item class="caixinha2" lines="none">
          <ion-input type="email" labelPlacement="floating" [(ngModel)]="email" class="retangulo2"></ion-input>
        </ion-item>

        <ion-item class="caixinha1" lines="none">
          <h2>Senha:</h2>
        </ion-item>

        <ion-item class="caixinha2" lines="none">
          <ion-input type="password" labelPlacement="floating" [(ngModel)]="password" class="retangulo2"></ion-input>
        </ion-item>

        <ion-item class="caixinha1" lines="none">
          <h2>Confirme a senha:</h2>
        </ion-item>

        <ion-item class="caixinha2" lines="none">
          <ion-input type="password" labelPlacement="floating" [(ngModel)]="confirmPassword" class="retangulo2"></ion-input>
        </ion-item>

      </ion-card-content>

      <ion-button class="button-cadastro" fill="default" size="full" (click)="register()">Cadastrar</ion-button>

    </ion-card>

    <ion-item class="logo-rodape">
      <ion-thumbnail>
        <img class="teste" src="../../assets/logo-tourio.jpeg" /></ion-thumbnail>
    </ion-item>

    
</ion-content>