<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cadastro</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input type="text" label="Nome Completo" labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="email" label="E-mail" labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" label="Senha" labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" label="Confirmar Senha" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-card-content>

      <ion-button color="success" size="full">Cadastrar</ion-button>

    </ion-card>
  </div>
</ion-content>