<ion-header >
  <ion-toolbar class="barra-nav">

    <ion-item class="logo-rodape">
      <ion-thumbnail>
        <img class="teste" src="../../assets/logo-tourio.jpeg" /></ion-thumbnail>

    <ion-title>Minha conta</ion-title>
      
  </ion-item>
  </ion-toolbar>

  <ion-item >
    <ion-avatar slot="start">
      <img alt="Teste" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Avatar</ion-label>
  </ion-item>


<ion-list lines="full" class="corpo-menu">
  <ion-item>
    <ion-icon slot="start" name="settings-outline"></ion-icon>
    <ion-button fill="clear">Configurações</ion-button>
  </ion-item>

  <ion-item>
    <ion-icon slot="start"  name="heart-circle-outline"></ion-icon>
    <ion-button fill="clear">Lugares favoritos</ion-button>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="contrast-outline"></ion-icon>
    <ion-button fill="clear">Modo escuro</ion-button>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="exit-outline"></ion-icon>
    <ion-button fill="clear">Sair da conta</ion-button>
  </ion-item>

 </ion-list>
</ion-header>