<ion-header>
  <ion-toolbar>
    <ion-title>Grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Teste</ion-card-title>
    </ion-card-header>
  </ion-card> -->

  <ion-card>
    <div class="flex-center">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="../../assets/joao.jpeg" />
      </ion-thumbnail>
    </div>
    <ion-card-title>João Pedro Neri</ion-card-title>
    <p>Turma: ADS0301M</p>
    <p>Turno: Manhã</p>
    <p>Unidade: Bonsucesso</p>
  </ion-card>

  <ion-card>
    <div class="flex-center">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="../../assets/matheus.jpg" />
      </ion-thumbnail>
    </div>
    <ion-card-title>Matheus Bomfim Ferreira Fonseca</ion-card-title>
    <p>Turma: ADS0301M</p>
    <p>Turno: Manhã</p>
    <p>Unidade: Bonsucesso</p>
  </ion-card>
  
  <ion-card>
    <div class="flex-center">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="../../assets/nahomi.jpeg" />
      </ion-thumbnail>
    </div>
    <ion-card-title>Nahomi Lexamar Ribas Rodriguez</ion-card-title>
    <p>Turma: ADS0301M</p>
    <p>Turno: Manhã</p>
    <p>Unidade: Bonsucesso</p>
  </ion-card>
</ion-content>