<ion-card>
  <div>
    <div class="foto">
      <img alt="Silhouette of mountains" src="../../assets/joao.jpeg" />
    </div>
  </div>
  
  <ion-card-title>João Pedro Neri</ion-card-title>
    <p>Turma: ADS0301M</p>
    <p>Turno: Manhã</p>
    <p>Unidade: Bonsucesso</p>
<!-- 
  <ion-button fill="clear">Action 1</ion-button>
  <ion-button fill="clear">Action 2</ion-button> -->
</ion-card>

<ion-card>
  <div>
    <div class="foto">
      <img alt="Silhouette of mountains" src="../../assets/matheus.jpg" />
    </div>
  </div>
  
  <ion-card-title>Matheus Bomfim Ferreira Fonseca</ion-card-title>
    <p>Turma: ADS0301M</p>
    <p>Turno: Manhã</p>
    <p>Unidade: Bonsucesso</p>
</ion-card>

<ion-card>
  <div>
    <div class="foto">
      <img alt="Silhouette of mountains" src="#" />
    </div>
  </div>
  
  <ion-card-title>Nahomi Ribas</ion-card-title>
    <p>Turma: ADS0301M</p>
    <p>Turno: Manhã</p>
    <p>Unidade: Bonsucesso</p>
</ion-card>