<ion-card class="container">
  <ion-card-header>
    <ion-card-title>Iniciar Sessão</ion-card-title>
      <div>
        <label for="login">Email:</label>
        <input type="text" name="login">
      </div>
      <div>
        <label for="senha">senha:</label>
        <input type="password" name="senha">
      </div>
  </ion-card-header>

  <ion-card-content>
    <p>Esqueceu a sua senha? <a href="#">Clique aqui.</a></p>
    <ion-button>Entrar</ion-button>
    <ion-button>Cadastrar novo usuário</ion-button>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>