<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input type="email" label="E-mail" labelPlacement="floating" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" label="Senha" labelPlacement="floating" [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
        
        <ion-button color="success" size="full" (click)="login()">Entrar</ion-button>
        <ion-button color="success" size="full" fill="clear" (click)="redirecionar_cadastro()">Cadastrar</ion-button>

      </ion-card-content>

    </ion-card>
  </div>
</ion-content>