<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Estabelecimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar 
  placeholder="Digite um endereço"
  [(ngModel)]="searchQuery" 
  (ionInput)="searchAddress($event)">
</ion-searchbar>

<!-- Lista de sugestões -->
<ion-list *ngIf="addresses.length > 0">
  <ion-item *ngFor="let address of addresses" (click)="selectAddress(address)">
    {{ address.fullAddress }}
  </ion-item>
</ion-list>


  <!-- LISTA DE CARDS -->
  <ion-list *ngIf="pois.length > 0">
    <ion-card *ngFor="let poi of pois">
      <ion-card-header>
        <ion-card-title>{{ poi.name }}</ion-card-title>
        <ion-card-subtitle>{{ poi.type }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Endereço:</strong> {{ poi.address }}</p>
        <p><strong>Descrição:</strong> {{ poi.description }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
